/* main12.css */

body {
  background: lightyellow;
  padding-right: 2em;
}

h2 {
  background: red;
  width: 10em;
  padding: 1em;
  padding-left: 2em;
  border-radius: 2em;
}

img {
  border-radius: 5em;
}